.flashes h4 {
    line-height: 1.5;
}

/* ------------------------------------------------------------------------------Books.html*/

.book_panel h4 {
    font-size: 20px;
}

.book_panel h5 {
    font-size: 16px;
}

.book_cover {
    max-width: 75%;
    max-height: 150px;
    object-fit: contain;
}

.page_title {
    font-family: "Indie Flower", cursive;
    font-size: 60px;
}

/* ------------------------------------------------------------------------------Navbar*/

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.navbar-fixed {
    margin-bottom: 40px;
}

.brand-logo {
    padding-left: 12px !important;
}

#mobile-demo li a{
    z-index: 99;
}

/* ------------------------------------------------------------------------------Home.html*/

.panel-row {
    display: flex;
}

.home_panel h4,
.home_panel h5 {
    padding: 0 20px 20px 20px;
}

/* ------------------------------------------------------------------------------Profile.html*/

.book-row {
    display: flex;
    flex-wrap: wrap;
}

.book-col {
    display: flex;
    flex-direction: column;
}

.book-teaser {
    min-width: 100px;
    padding: 10px;
    flex-grow: 1;
    margin: 10px;
}

/* ------------------------------------------------------------------------------Footer*/

footer a {
    font-size: x-large;
}

.footer-elements {
    display: inline-block;
}

.list-inline {
    padding-left: 0;
    margin: -10px 0 -10px -5px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding: 0 5px;
}

/* for sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/* ------------------------------------------------------------------------------Media Queries*/

/* adjusting home screen card sizes and layout for smaller screens */
@media (max-width: 600px) {
    .panel-row {
        display:inline-block;
        }
}

/* adjusting footer layout for smaller screens */
@media (max-width: 600px) {

    .footer-elements {
        text-align: center;
        }
    
    .footer-elements ul {
        text-align: center;
        margin-top: 2px;
        }
    
    .copyright {
        font-size: x-small;
    }
}