.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 1.5;
}

.book_panel h4, .book_panel span {
    font-size: medium;
}

.book_cover {
    max-width: 75%;
    max-height: 150px;
    object-fit: contain;
}