{% extends "base.html" %}
{% block content %}

    <h3 class="amber-text center-align">Find a Book</h3>

    <div class="row book_panel">
      {% for book in books %}
      <div class="col s12 m4">
        <div class="card-panel book-teaser amber lighten-5">
          <div class="row center">
            <a href="{{ url_for('reviews', book_id=book._id) }}">
              <img src="{{ book.book_cover }}" alt="Book Cover" class="book_cover">
            </a>
          </div>
          <div class = "row">
            <div class="col s12">
              <h4>{{ book.book_title }}</h4>
              <h5>by {{ book.book_author }}</h5>
              <h5>Genre: {% for genre in book.genre %}
                {{ genre }},
                {% if loop.last %}
                  {{ genre }}
                {% endif %} 
                {% endfor %}
              </h5>
            </div>
          </div>
          
                      <!--rating-->
          <div class="row star_rating">
            <div class="input-field col s12">
              <div class="col s2">Rating: </div>
              <div id="rateYo" name="rateYo" class="amber-text  col s10"></div>
              <input type="hidden" name="rating" id="rating" value="{{ book.rating }}">
            </div>
          </div>
      </div>
      </div>
      {% endfor %}
    </div>

{% endblock %}