{% extends "base.html" %}
{% block content %}

    <h3 class="amber-text center-align">Find a Book</h3>

    <div class="row book_panel">
      {% for book in books %}
      <div class="col s12 m5">
        <div class="card-panel amber lighten-5">
          <div class="row">
            <a href="#">
              <img src="#" alt="Book Cover">
            </a>
          </div>
          <div class = "row">
            <h4 class="col s12"><strong>{{book.book_title }}</strong></h4>
          </div>
          <div class = "row">
            <h4 class="col s12"><strong>by {{book.book_author }}</strong></h4>
          </div>
          <div class = "row">
            <h4 class="col s12"><strong>Genre: {{book.book_genre }}</strong></h4>
          </div>
          <div class = "row">
            <h4 class="col s12"><strong>Rating:</strong></h4>
          </div>
          <div class="row">
          <span class="black-text col s12">{{book.book_description }}
          </span>
          </div>
          <div class="row">
            <p class="black-text col s12"><em>Review by: {{ book.created_by }}</em>
            </p>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>

{% endblock %}