{% extends "base.html" %}
{% block content %}

<h3 class="page_title amber-text center-align">Welcome to Book Club!</h3>

<div class="card-panel amber lighten-5">
    <div class="row">
        <h3>Book of the week:</h3>
    </div>
    <div class="row">
        <div class="col s4">
            <a href="{{ url_for('reviews', book_id=book._id) }}">
                <img src="{{ book.book_cover }}" alt="Book Cover" class="book_cover">
            </a>
        </div>
        <div class="col s8">
            <h3 class="amber-text center-align"><strong>{{ book.book_title }}</strong></h3>
            <h3 class="amber-text center-align">by {{ book.book_author }}</h3>
            <br>
            <h5>Reviewer's Rating: {{ book.rating }}/5</h5>
            <h5>Book Club Rating: {{ book.rating }}/5</h5>
        </div>
    </div>




{% endblock %}