{% extends "base.html" %}
{% block content %}

<h3 class="page_title amber-text center-align">Welcome to Book Club!</h3>

<p class="flow-text">We are a book-loving community building a database of books that we love.  Please add your favourite books to our collection and add your thoughts to any exisitng reviews.</p>

<div class="row panel-row">
    <div class="col s5 home_panel card-panel amber lighten-5">
        <h4>Looking for a book?</h4>
        <h5>Whether you're searching for reviews on a specific book or looking for inspiration, browse our catalogue for recommended books.</h5>
    </div>

 
    <div class="col s5 offset-s1 home_panel card-panel amber lighten-5">
        <h4>Read a good book?</h4>
        <h5>Recommend your favourite books to other Book Club members!  Add the book details and your review to our growing collection of fantastic books.</h5>

    </div>
</div>




{% endblock %}