{% extends "base.html" %}
{% block content %}

<div class="card-panel book-teaser amber lighten-5">
  <h3 class="amber-text center-align"><strong>{{ book.book_title }}</strong></h3>
  <h3 class="amber-text center-align">by {{ book.book_author }}</h3>

  <div class="row center">
      <img src="{{ book.book_cover }}" alt="Book Cover" class="book_cover">
      <br>
      <h5>Rating: {{ book.rating }}/5</h5>
  </div>
  <div class = "row">
    <div class="col s12">
        <h5>Genre: {% for genre in book.genre %}
          {{ genre }},
          {% if loop.last %}
            {{ genre }}
          {% endif %} 
          {% endfor %}
        </h5>
        <p>{{ book.book_description }}</p>
    </div>
  </div>
</div>

<div class="row">
  <!--Add your own review-->
  <div class="col s6 card-panel grey lighten-5">
  <h5 class="amber-text">Add your own review of {{ book.book_title }}</h5>
  <form class="col s12" method="POST" action="{{ url_for('reviews', book_id=book._id) }}">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Add your review</label>
      </div>
    </div>
    <!--rating-->
    <div class="row star_rating">
      <div class="input-field col s12">
        <i class="fas fa-star prefix amber-text"></i>
        <div class="col s1 offset-s1">Rating: </div>
        <div id="rateYo" name="rateYo" class="amber-text  col s10"></div>
        <input type="hidden" name="rating" id="rating" value="0">
      </div>
    </div>
    <!--submit and cancel button--> 
    <div class="row">
      <div class="col s12 center-align">
        <a href="{{ url_for('reviews', book_id=book._id) }}" class="btn-small red text-shadow">
          Cancel <i class="fas fa-check-circle"></i>
        </a>
        <button class="btn-small waves-effect waves-light amber" type="submit">
          Submit Review <i class="fas fa-times-circle"></i>
        </button>
      </div>
    </div>
  </form>
</div>
  <!--Other user reviews-->
  <div class="col s6 card-panel grey lighten-5">
    <h6 class="amber-text"><strong>Review by {{ book.created_by }}</strong></h6>
    <form class="col s12" method="POST" action="{{ url_for('reviews', book_id=book._id) }}">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Add your review</label>
        </div>
      </div>
      <!--rating-->
      <div class="row star_rating">
        <div class="input-field col s12">
          <i class="fas fa-star prefix amber-text"></i>
          <div class="col s1 offset-s1">Rating: </div>
          <div id="rateYo" name="rateYo" class="amber-text  col s10"></div>
          <input type="hidden" name="rating" id="rating" value="0">
        </div>
      </div>
    </form>
    </div>
</div>

{% endblock %}